.login-section {
  background-color: black;
  color: white;

  .forget-password {
    display: block;
    text-decoration: underline;
    color: #fff;
    font-size: 14px;
    margin-top: 35px;

    &:hover,
    &:focus {
      outline: none;
      color: #fff;
      text-decoration: none;
    }
  }
}
