<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
</head>
<style>
  html {
    font-size: 62.5%;
    /*Sets 1rem = 10px*/
    background-color: white;
  }

  body {
    display: none;
    background-color: white;
    color: black;
  }
</style>

<body>
  <div id="app-root"></div>
  </div>
</body>

</html>