.virtual-training {
  background-color: #000;
  color: #fff;
  font-size: 18px;

  .terms-apply {
    text-decoration: underline;
    color: #fff;
    font-size: 18px;

    &:hover,
    &.focus {
      text-decoration: underline;
      color: #fff;
    }
  }

  .get-results {
    @include Titling-Gothic;

    font-size: 32px;
    margin-top: 40px;
    // width: 275px;
    line-height: 1.1;
  }

  .already-member {
    margin: 40px 0 10px 0;
  }

  .not-required-apply {
    display: flex;
  }

  .not-required {
    font-size: 18px;
    font-weight: bold;
  }

  .get-trainedTitle,
  .get-results {
    text-transform: uppercase;
    font-size: 36px;
  }

  .objectives-list {
    margin: 10px 0 50px 0;
    padding-left: 24px;
    font-size: 18px;
  }

  .get-started {
    margin-bottom: 50px;
  }

  .btn-eqx-member {
    border-radius: 0;
    background-color: #000;
    height: 50px;
    width: 240px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 2px 10px 4px 10px;
    align-items: center;
  }

  .eqx-link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
    }
  }

  .btn-purchase {
    border-radius: 0;
    background-color: #fff;
    height: 50px;
    width: 240px;
    border: 1px solid #fff;
    color: #000;
    font-size: 14px;
    padding: 2px 10px 4px 10px;
    align-items: center;
    margin-right: 24px;
  }

  .purchase-link {
    text-decoration: none;
    color: #000;
    font-size: 14px;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #000;
    }
  }
}

@media (max-width: 576px) {
  .get-trainedTitle,
  .get-results {
    font-size: 32px !important;
  }

  .btn-purchase {
    width: 100% !important;
    margin-right: 10px;
  }

  .btn-eqx-member {
    width: 100% !important;
    margin-top: 20px !important;
  }

  .not-required-apply {
    display: block !important;
  }
}
