.signUp-section {
  background-color: #000;
  color: #fff;

  .agree-text {
    font-size: 14px;
  }

  .sign-upTitle {
    text-transform: uppercase;
    font-size: 32px;
    padding: 50px 0 30px 0;
  }
}
