// Note: Import ordering important here ↴
@import './config/vars';
@import './config/colors';
@import './extensions';
@import './utilities';
@import './functions';
@import './mixins';
@import './typography';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // Sets 1rem = 10px
}

body {
  display: block !important; // FOUSC
  visibility: visible !important; // FOUSC
  color: black;
  opacity: 1;
  font-family: "Graphik Web", Arial, sans-serif;
  font-weight: 400;
}
