@mixin use-handcursor {
  cursor: pointer;
  cursor: hand;
}

@mixin disable-mouse-events {
  pointer-events: none;
}

@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  }

  @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  }

  @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}

@mixin custom-checkbox($border-radius: 50%) {
  flex: 0 1 auto;
  display: inline-flex;
  align-items: center;
  position: relative;

  input {
    opacity: 0;
  }

  span {
    padding-left: 1.2rem;

    &::before {
      content: "";
      position: absolute;
      top: -0.2rem;
      left: 0;
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      pointer-events: none;
      user-select: none;
      background-color: $white;
      border: 1px solid $cool-grey;
      border-radius: $border-radius;
    }
  }

  input:checked ~ span::before {
    background-image: url(/images/svg/checkmark.svg);
    background-position: -0.12rem 0.12rem;
    background-size: 1.7rem;
    background-repeat: no-repeat;
    background-color: $black;
    border-color: $black;
  }
}
