// =============================================================================
// Font Face
// =============================================================================

@import url("https://fonts.googleapis.com/css?family=Roboto:100,400");

// Font Name Variables;
$roboto: "Roboto", serif;

h1 {
  font-weight: inherit;
}

@font-face {
  font-family: "Graphik Regular Web";
  src: url(static/fonts/Graphik-Regular-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Semibold";
  src: url(static/fonts/Graphik-Semibold-Web.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Medium";
  src: url(static/fonts/Graphik-Medium-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Regular Italic";
  src: url(static/fonts/Graphik-Regular-Italic.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Titling Gothic FB Compressed Medium";
  src: url(static/fonts/Titling-Gothic-FB-Compressed-Medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@mixin Graphik-Bold {
  font-family: "Graphik Semibold", Sans-serif;
}

@mixin Graphik-Regular-Web {
  font-family: "Graphik Regular Web", sans-serif;
}

@mixin Graphik-Regular-Italic {
  font-family: "Graphik Regular Italic", sans-serif;
}

@mixin Titling-Gothic {
  font-family: "Titling Gothic FB Compressed Medium", sans-serif;
}

@mixin Graphik-Medium {
  font-family: "Graphik Medium Web", sans-serif;
}
