// Loader component styles

.loader__component {
  opacity: 0.8;
  text-align: center;
  z-index: 100000;
  background-color: white;
  overflow-y: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;

  .loader__image {
    height: 50px;
    z-index: 1030;
    top: 45%;
    left: 47%;
    position: absolute;
  }
}
