.non-member-purchase {
  background-color: black;
  color: white;

  .info-text {
    color: white;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .text-link {
    text-decoration: underline;
  }

  .header-section {
    margin-bottom: 40px;
  }
}
