.pt-payment {
  color: #fff;
  background-color: #000;

  /* Create a custom radio button */
  .radio-checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .radio-container {
    display: block;
    position: relative;
    padding-left: 25px;
    width: 76%;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .radio-checkmark::after {
      top: 2px;
      left: 2px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #000;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .radio-checkmark {
        background-color: #fff;

        &::after {
          display: block;
          background-color: #000;
        }
      }
    }
  }

  .tier-trainer {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .panel-group {
    margin-bottom: 40px;

    .panel-collapse {
      margin-top: -5px;
    }
  }

  .tier-link,
  .tier-link:focus,
  .tier-link:hover {
    text-decoration: none;
    color: #fff;
    width: 100%;
  }

  .tier-name-btn {
    display: flex;
    justify-content: space-between;
    padding: 19px 22px 18px 20px;
    border: 1px solid #fff;
  }

  .tier-list {
    border-width: 0 1px 1px 1px;
    border-style: double;
    font-size: 14px;

    .tier-name {
      padding: 20px 22px 22px 20px;

      & + .tier-name {
        border-top: 1px solid #fff;
      }

      .down-chevron {
        height: 22px;
        width: 22px;
      }
    }
  }

  .sessions-list {
    border: 1px solid #fff;

    .session-charges {
      @include Graphik-Medium;
    }

    .session-count {
      display: block;
    }

    .sessions-content {
      display: flex;
      justify-content: space-between;
      padding: 24px 20px 22px 20px;
      font-size: 14px;

      & + .sessions-content {
        border-top: 1px solid #fff;
      }

      &.active {
        background-color: #fff;
        color: #000;
      }

      &:nth-child() {
        border-bottom: 0;
      }
    }
  }

  .vt-note {
    @include Graphik-Regular-Italic;

    font-size: 14px;
    margin: 40px 0 70px 0;

    &::after {
      bottom: -254px;
      left: 27px;
      position: absolute;
      content: "";
      width: 60px;
      border-bottom: 1px solid #fff;
    }
  }
}
