.sidebar {
  .sidebar-header {
    height: 221px;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;

    .sidebar-brand {
      @include Titling-Gothic;

      padding-top: 50px;
      font-size: 40px;
      margin-bottom: 5px;
    }

    .sidebar-text {
      @include Graphik-Regular-Web;

      font-size: 24px;
    }
  }

  .sidebar-list {
    .menu-link {
      text-decoration: none;
      color: #000;

      &:focus,
      &:hover {
        outline: none;
        text-decoration: none;
      }
    }

    .sidebar-list-item {
      color: #000;
      font-size: 18px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e5e5e5;

      .arrow-right {
        height: 16px;
        width: 16px;
        margin-top: 4px;
      }
    }
  }
}
