// Semantic Color variables
$black: #000;
$eqx-black: #181818;
$white: #fff;
$lightest-grey: #bbb;
$lighter-grey: #747474;
$light-grey: #777;
$cool-grey: #7e8891;
$dark-grey: #808080;
$background-grey: #f4f5f8;
$red: #f00;
