// Header Styles

@import 'src/client/styles/config/colors';
@import 'src/client/styles/mixins';

.header__container {
  display: inline-flex;
  height: 70px;
  width: 100%;
  background-color: $eqx-black;
  align-items: center;
}

.header__logo {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 26px;
  height: 26px;
  margin-left: 20px;
}

.header__title {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
}

.header__search__icon {
  @include use-handcursor;

  position: absolute;
  display: inline-block;
  background-image: url('/images/svg/icon-search.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  right: 20px;
  bottom: 25px;
  border: 0;
  background-color: transparent;
}

.header__hamburger {
  @include use-handcursor;

  display: inline-block;
  background-image: url('/images/svg/icon-hamburger.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-left: 20px;
}

.header__vertical-divider {
  height: 25px;
  width: 20px;
  border-right: 1px solid $light-grey;
  opacity: 0.5;
}

.header__tab__container {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 60px;
}

.header__tab {
  @include use-handcursor;

  display: inline-block;
  width: 100px;
  height: 40px;
  border: 1px solid $light-grey;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: none;
  bottom: 0;
  background-color: $eqx-black;
  text-align: center;
  font-size: 1.4rem;
  color: $light-grey;
  margin-left: 5px;
}

.header__tab--active {
  @include disable-mouse-events;

  background-color: $background-grey;
}

.header__tab__text {
  display: inline-block;
  padding-top: 12px;
}
