.non-pt-payment {
  background-color: black;
  color: white;

  .contact-info {
    margin-top: 90px;

    .contact-details {
      margin-top: 30px;
    }
  }

  .input-container {
    width: 100%;
    // margin: 20px 0;
    position: relative;
    display: inline-block;

    &:focus {
      outline: none;
    }

    &[for="state1"] {
      .input-style {
        min-height: 30.67px;
      }
    }
  }

  .input-label {
    pointer-events: none;
    position: absolute;
    font-size: 16px;
    left: 0;
    top: 12px;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .select-choose {
    color: #000;
    width: 100%;
  }

  input:focus + .input-label,
  input:not(:placeholder-shown) + .input-label,
  select:focus + .input-label {
    opacity: 1;
    top: -9px;
    left: 0;
    font-size: 10px;
  }
}
