// Organizational Base Styles
@import "./styles/index";

// Scaffolding styles
@import "./scaffolding/scaffolding";

// Component styles
@import "./components/components";

// Page Styles
@import "./pages/pages";

body {
  @include Graphik-Regular-Web;

  font-size: 18px !important;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  overflow-x: hidden;
}

.content-container {
  @include Graphik-Regular-Web;

  .custom-padding {
    padding: 0 27px;
  }

  button {
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .dropdown {
    .arrow-down {
      height: 20px;
      width: 20px;
      margin-top: 6px;
    }

    .drp-state {
      display: flex;
      justify-content: space-between;
      background-color: #000;
      color: #fff;
      width: 100%;
      border: none;
      border-bottom: 1px solid #fff;
      font-size: 18px;
      padding: 11px 0 3px 0;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    .dropdown-menu {
      width: 100%;
      padding: 0;
      border-radius: 0;
      border-width: 0 1px 0 1px;
      border-color: #e5e5e5;

      .dropdown-item {
        padding: 10px;
        background-color: #000;
        color: #fff;
        border-bottom: 1px solid #e5e5e5;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #000;
    border: 1px solid #fff;

    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .container {
    display: block;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .check-text {
      font-size: 16px;
      display: block;
    }

    .checkmark::after {
      left: 4px;
      top: -0.5px;
      width: 5px;
      height: 11px;
      border: solid #000;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .mail-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        & ~ .checkmark {
          background-color: #fff;

          &::after {
            display: block;
          }
        }
      }
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input::placeholder {
    color: #fff;
  }

  .error-icon {
    position: absolute;
    bottom: 41px;
    height: 14px;
    width: 14px;
    right: 18px;
  }

  //placeholder animation
  .input-container {
    width: 100%;
    position: relative;
    display: inline-block;

    &:focus {
      outline: none;
    }
  }

  .input-label {
    pointer-events: none;
    position: absolute;
    font-size: 16px;
    left: 0;
    top: 12px;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .select-choose {
    color: #000;
    width: 100%;
  }

  input:focus + .input-label,
  input:not(:placeholder-shown) + .input-label,
  select:focus + .input-label,
  select:not(:placeholder-shown) + .input-label {
    opacity: 1;
    top: -9px;
    left: 0;
    font-size: 10px;
  }

  .input-style {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
    padding-bottom: 3px;
    margin-bottom: 30px;
    caret-color: #fff;

    &:focus {
      outline: none;
    }

    &.invalid {
      color: red;
      caret-color: #fff;
      border-bottom: 1px solid red;

      & + .input-label {
        color: red;
      }
    }
  }

  select.input-style {
    padding-bottom: 5px !important;
  }

  .error-text {
    font-size: 12px;
    color: #ff4136;
    position: absolute;
    left: 15px;
    bottom: 8px;
  }

  .session-info {
    justify-content: space-between;
    margin: 20px 0 47px 0;

    &::after {
      bottom: 260px;
      position: absolute;
      content: "";
      width: 60px;
      border-bottom: 1px solid #fff;
    }
  }

  .info-text {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .terms-text {
    display: block;
    font-size: 14px;
    width: 294px;
  }

  .edit-field {
    text-decoration: underline;
    color: white;
    // margin: 40px 0 50px 0;
    margin-top: 40px;
  }

  .sub-heading {
    @include Titling-Gothic;

    line-height: 1.1;
    font-size: 32px;
    margin: 40px 0 20px 0;
    text-transform: uppercase;
  }

  .info-title {
    @include Titling-Gothic;

    text-transform: uppercase;
    font-size: 36px;
    margin: 50px 0 20px 0;
  }

  .chk-box {
    margin: 20px 0 40px 0;
  }

  .btn-next {
    padding: 2px 10px 4px 10px;
    width: 240px;
    height: 50px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    font-size: 14px;
    align-items: center;
    margin-top: 30px;

    &.disabled {
      opacity: 0.5;
    }
  }

  .btn-link {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 15px;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #000;
      outline: none;
    }
  }

  .session-cost {
    @include Graphik-Bold;
  }

  .header-section {
    height: 540px;
    color: #fff;

    .eqx-logo {
      height: 22px;
      width: 174px;
      position: absolute;
      top: 22px;
      left: 60px;
    }

    .vt-headerImg {
      height: 540px;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }

    .header-title {
      @include Titling-Gothic;

      width: 521px;
      font-size: 80px;
      text-transform: uppercase;
      position: absolute;
      top: 161px;
      left: 128px;
      line-height: 1.1;
    }
  }

  .vt-link {
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #fff;

    &:hover,
    &:focus {
      text-decoration: none;
      outline: none;
    }
  }

  .signin-text {
    font-size: 18px;
    display: flex;
  }

  .signIn-link {
    display: block;
    text-decoration: underline;
    color: #fff;
  }

  .vt-text {
    @include Graphik-Regular-Web;

    font-size: 18px;
    padding: 20px 0 30px 0;
    width: 768px;
  }

  .vt-footer {
    margin-top: 50px;
    font-size: 12px;
    padding-bottom: 40px;
    color: #fff;

    .footer-links {
      display: flex;
    }

    .footer-text {
      text-decoration: underline;
      color: #fff;

      a {
        color: #fff;
      }
    }
  }
}

@media (max-width: 576px) {
  .eqx-logo {
    height: 18px !important;
    width: 138px !important;
    left: 29px !important;
  }

  .header-title {
    position: absolute;
    top: 161px;
    left: 27px !important;
    width: 300px !important;
    font-size: 46px !important;
  }

  .header-section {
    height: 308px !important;
  }

  .vt-headerImg {
    height: 230px !important;
  }

  .vt-text {
    width: 327px !important;
  }

  .btn-next {
    width: 100% !important;
  }

  .signin-text {
    display: block !important;
  }

  .info-title {
    font-size: 32px !important;
  }

  .footer-links {
    display: block !important;
  }
}
