
$login__vertical__spacing: 45px;

.login__page {
  overflow: hidden;
}

.login__content {
  display: inline-block;
  background-color: $white;
  max-width: 700px;
  min-width: 370px;
  width: 50vw;
  height: 100vh;
  font-size: 2.3rem;
  color: $black;
}

.login__title {
  line-height: 3.7rem;
  margin-top: $login__vertical__spacing;
}

.login__content--padding {
  padding: 12rem;
}

.login__eqx__logo {
  display: block;
  background-image: url('/images/svg/eqx-symbol.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 65px;
  height: 65px;
}

.login__image {
  width: 50vw;
  height: 100vh;
  flex-grow: 100;
  background-image: url('/images/eqx-splash.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.login__button {
  position: relative;
  width: 236px;
  height: 86px;
  border: 1px solid $lightest-grey;
  font-size: 1.35rem;
  font-weight: bold;
  margin-top: $login__vertical__spacing;
  padding-left: 20px;
  color: $lighter-grey;

  &:focus {
    outline: 0;
  }
}

.login__button__icon {
  position: absolute;
  display: block;
  background-image: url('/images/svg/ms_office_logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 25px;
  top: 30px;
}

.login__cta {
  color: $lighter-grey;
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: $login__vertical__spacing;
}

.login__version {
  color: $lightest-grey;
  font-size: 1.5rem;
  margin-top: $login__vertical__spacing;
}
